{% extends "main.html" %}

{% block content %}
<div class="about-container">
    <h2>About Us</h2>
    <div class="sub-container">
        <p>
            Agro servers is a one of its kind mission driven digital platform brought up to help farmers leverage modern farming. With the aid of modern tools and technologies for a better and quality outcome of farm produce. 
            Our mission is to add qualities and values to the farmers through the help of agricultural extensionists who educate the farmers thoroughly on the factors such as climate, availability of water, soil fertility and diseases or pests. How they affect farm yield and how they can be controlled.
            We equally provides a medium for lending and borrowing of agricultural tools and machineries and also provision of stores where farmers can buy quality and subsidized farming tools and materials such as fertilizers, hybrid seeds etc. we bring farmers and consumers in contact either directly or through verified agents provided by the platform.
            We don’t only provide farmers this opportunities but also create job opportunities.
             
            
        </p>
    </div>
    
</div>

{% include 'footer.html' %}
{% endblock content %}