<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">Become an agent</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          
        </ul>
      </div>
      <div class="footer-col">
        <h4>  Useful Links</h4>
        <ul>
          <li><a href="#">Agrorite</a></li>
          <li><a href="#">AgroBlog</a></li>
          
          
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

      <br>
      
      <div class="footer-col">
        <h4>Contact Us</h4>
      </div>

    </div>
  </div><br>
  <br>
  <br>
  <br>
    <div class="bottom">
      <center>
        <span class="credit">Created By <a href=" {% url 'profiles' %} ">Agro-Server</a> | </span>
        <span class="far fa-copyright"></span><span> 2022 All rights reserved.</span>
      </center>
    </div>
  </footer>